html{
    scroll-behavior: smooth;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f1f0f0;
    padding: 0;
    margin: 0;
}
header{
    width: 100%;
    color: #fffbfb;
    background: #000;
    padding: 10px 0px;
    position: fixed;
    top: 0;
    z-index: 1000;
}

.container{
    display: flex;
    margin: 20px;
    padding-top: 80px;
}
main{
    flex: 3;
    background: #ffffff;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgb(206, 203, 203);
}
aside{
    flex: 1;
    background: #f9f9f9;
    box-shadow: 0 2px 5px rgb(206, 203, 203);
    border-radius: 10px;
    padding: 20px;
}
footer{
    background-color: black;
    color: #f4f4f4;
    text-align: center;
    padding: 20px;

}
.card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.card{
   background-color: #fff;
   padding: 10px;
   margin: 10px;
   border-radius: 10px;
   width: 28%;
   box-shadow: 0 2px 5px rgb(206, 203, 203);
   text-align: center;
   transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
}
.card button:hover{
    background-color: orange;
}
.card h2{
    margin-top: 0;
    font-size: 20px;
}
button{
    background-color:#03344C;
    color: #fff;
    padding: 10px;
    border-radius: 15px;
    border: none;
    margin-bottom: 10px;
}
.card img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    display: block;
    margin: 0 auto 10px;
}
#card-container{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
#portfolio-container{
    background: #fff;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    width: 28%;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}
#portfolio-container img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
}
#welcome{
    margin-top: 80px;
    padding-top:-80px;
}
.new{
   margin-bottom: 20px;
}
.website{
    font-family: Arial, Helvetica, sans-serif;

}
.links p{
    color: teal;
}
a{
    text-decoration: underline;
    color: rgb(45, 53, 86);
}
ul{
    display: flex;
    list-style: none;
    gap: 15px
}   
li{
    text-align: -webkit-match-parent;
}
.card:hover{
    transform:translateY(-10px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    background-color: #f9f9f9;
}

.nav-links{
    display: flex;
    list-style: none;
    gap: 15px
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}
.logo{
    font-size: 1.5em;
    font-weight: bold;
}

.nav-links a{
    text-decoration: none;
    color: #fff;
}
.nav-links a:hover{
    text-decoration: underline;
}
.nav-links li{
    display: inline;
}